body {
  margin: 0px;
}
#boundary {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background-color: rgb(200,200,200);
  opacity: 0.1;
  bottom: 10px;
  right:10px;
}
#drivemode {
  position: absolute;
  background-color: rgb(200,200,200);
  bottom: 400px;
  right:10px;
}

#powerscale {
  position: absolute;
  background-color: rgb(200,200,200);
  bottom: 360px;
  right:10px;
}

#leak {
  position: absolute;
    top: 40vh;
    width: 100vw;
    text-align: center;
    font-size: 100px;
    color: red;
    font-weight: bold;
}


#ctrlrod {
  z-index: 99;
  position: relative;
  top:120px;
  left:120px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: red;

}

#updown {
	position: absolute;
	height: 75vh;
	bottom: 20px;
	left:138px;
	border: 1px solid white;
	background-color: rgb(0, 102, 255);
	opacity: 0.2;
}

#depth_slider {
	position: absolute;
	height: 75vh;
	bottom: 20px;
	left:38px;
	border: 1px solid white;
	background-color: rgb(0, 102, 255);
	opacity: 0.2;
}
.ui-widget-content, .ui-slider-handle.ui-state-default.ui-corner-all {
	background: none;
}
#depth_slider a{
	border: 1px solid white;
	background-color: rgb(255, 51, 0);
	height: 0px;
	width: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 15px;
	
}

#download {
	position: absolute;
	top: 10px;
	left:10px;	
}

#camera{
	position: absolute;
	bottom: 10px;
	right: calc(50vw - 109px); 
}

#led_button{
	//position: absolute;
	//top: 10px;
	//right: calc(50vw - 25px); 
}

img {
	width: 100vw;
	height: 100vh;
}
#system{
	position: absolute;
	top: 10px;
	right: 10px;
	display: inline;
}
#showsys, #syscmd input {
	float: right;
}
 #temperature, #depth_current, #depth_target, #heading_current, #heading_target, #pwm_target{
	position: absolute;
	color:white;
	background-color: rgba(200,200,200,0.2);
}
#temperature{
	left:100px;
	top: 10px;
}
#depth_current{
	left:100px;
	top: 30px;
}
#depth_target{
	left:100px;
	top: 50px;
}
#heading_current{
	right:50px;
	top: 10px;
}
#heading_target{
	right:50px;
	top: 30px;
}
#pwm_target{
	right:50px;
	top: 50px;
}



.icon {
	width:50px;
	height:50px;
	margin-left: 10px;
	margin-right: 10px;
}
#reboot_button, #shutdown_button {
	width: auto;
	height: 20px;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	border-style: none;
	background-color: rgb(255, 51, 0);
}

#CtrlPwd {
	position: absolute;
	bottom: calc(50vh - 20px);
	right: calc(50vw - 100px); 
}
