body {
	margin: 0px;
}
#boundary {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background-color: rgb(200,200,200);
  opacity: 0.1;
  bottom: 10px;
  right:10px;
}

#ctrlrod {
	z-index: 99;
  position: relative;
  top:120px;
  left:120px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: red;

}
#slider {
	position: absolute;
	height: 75vh;
	bottom: 20px;
	left:38px;
	border: 1px solid white;
	background-color: rgb(0, 102, 255);
	opacity: 0.2;

}
.ui-widget-content, .ui-slider-handle.ui-state-default.ui-corner-all {
	background: none;
}
#slider a{
	border: 1px solid white;
	background-color: rgb(255, 51, 0);
	height: 0px;
	width: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 15px;
	
}

#download {
	position: absolute;
	top: 10px;
	left:10px;	
}

#camera{
	position: absolute;
	bottom: 10px;
	right: calc(50vw - 109px); 
}

#led_button{
	position: absolute;
	top: 10px;
	right: calc(50vw - 25px); 
}

img {
	width: 100vw;
	height: 100vh;
}
#system{
	position: absolute;
	top: 10px;
	right: 10px;
	display: inline;
}
#showsys, #syscmd input {
	float: right;
}
#debug{
	position: absolute;
	top: 10px;
	left: 200px;
	background-color: white;
}
.icon {
	width:50px;
	height:50px;
	margin-left: 10px;
	margin-right: 10px;
}
#reboot_button, #shutdown_button {
	width: auto;
	height: 20px;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	border-style: none;
	background-color: rgb(255, 51, 0);
}